html, body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0px;
  padding: 0px;
}

.load {
  animation: load 1s ease-in;
  margin: 0px
}

@keyframes load {
  from {
    opacity: 0;
    transform: rotateX(-10deg);
  }

  to {
    opacity: 1;
    transform: rotateX(0deg);
  }
}

.navbar {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  background-color: #01010e;
}

.items {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: background-color 0.4s ease-in;
}

li a:hover {
  color: black;
  background-color: white;
}

.header {
  padding: 60px;
  text-align: center;
  background-color: #01010e;
  color: white;
  font-size: 30px;
}

.move {
  animation: move 4.5s ease-in-out;
}

@keyframes move {
  0% {
    transform: translateX(-70%);
  }
}

.github {
  padding: 17px;
  background-color: transparent;
  color: white;
  border-radius: 20px;
  outline-width: 0px;
  border: none;
  transition: background-color 0.4s ease-in-out;
}

.github:hover {
  background-color: white;
  color: black;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: 20px;
  text-align: center;
}

.title {
  color: grey;
  font-size: 18px;
}

.card-button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background: #01010e;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
  transition: background-color 0.4s ease-in-out;
}

button:hover {
  background-color: white;
  color: black;
}